<div class="row">
	<div class="large-12 small-12">
		<h1>Article in Gizmodo</h1>
		<ul class="bar">
			<li class="avatar" ng-bind-html="Gravatar('chase@sillevis.net')"></li>
			<li class="from">From: <a href="#" class="strong">Brian Kelleher</a></li>
			<li class="date right">24 may 2010</li>
		</ul>
		<p>
			Dear Steve,
			<br /><br />
			Have you read this <a href="#">Gizmodo Article</a>? What are your thoughts on it? Do you
			believe Google is surpassing you guys or do you believe something different?<br />
			What do you plan on doing if Google is surpassing Apple?
			<br /><br />
			Any thoughts?
			<br /><br />
			Sincerely,
			<br /><br />
			Brian
		</p>
	</div>
</div>