#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

header {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e6e6e6;
  height: 44px;
  background: #eee;
}

#page, #sidebar {
  margin: 44px 0 0;
  padding: 0;
  display: block;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow: auto;
}

#page {
  width: 80%;
  right: 0;
  border-left: 1px solid #e8e8e8;

  h1 {
    font-size: 32px;
    font-family: 'Minion Pro';
  }

  p {
    font-size: 22px;
    font-family: 'Minion Pro';
  }
}

#sidebar {
  width: 20%;
  left: 0;
}